<div class="banner">
  <div class="container col-12">
    <h1>Welcome all freaks to Chuckletown</h1>
    <h4>Change your life by hiring the most outrageous, ridiculously brilliant comedians from Gotham City</h4>
  </div>
</div>
