<div class="comedians-container">
  <% @comedians.each do |comedian| %>
  <ul>
    <h4><%= comedian.name %></h4>
    <li><%= cl_image_tag comedian.photo.key,  width: 500, height: 500, crop: :fill if comedian.photo.attached? %></li>
    <li><%= link_to  "Check out #{comedian.name}", comedian_path(comedian) %></li>
  </ul>
  <% end %>
</div>


