// Specific CSS for your home-page
.comedians-container {
    margin: 20px;
    background-color: $darkwhite;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    li, a {
        text-decoration: none;
        list-style-type: none;
        color: $coolgrey;
    }
}
