// Specific CSS for your home-page
.comedians-container {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    justify-items: center;
    li, a {
        text-decoration: none;
        list-style-type: none;
        color: white;
    }
}
