.btn-danger, .btn-success {
  color: white;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #FD1015;
  border-color: #FD1015;
  color: white;
  font-weight: bold;
}


.btn-success:hover {
  background-color: #1EDD88;
  border-color: #1EDD88;
  color: white;
  font-weight: bold;
}
