.form-container {
}

.form {
  margin: 5em auto;
  width: 43.75em;
  font-weight: bolder;
    .submit-button {
        color: white;
        font-weight: bold;
    }
}



// .chat-submit {
//   margin-left: -3.8%;
//   padding: 5px 10px;
// }
