.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
    .navbar-left-side {
      display: flex;
      justify-content: space-between;
      a {
       margin: 0;
      }
    }
    .sidebar-button {
      background-color: transparent;
      border: 0 none;
      outline: none;
      img {
        height: 70px;
        border: none;
      }
    }
}


.navbar-lewagon {
    justify-content: space-between;
    background-color: $darkpurple;
  }

  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-lewagon .navbar-brand img {
    width: 55px;
    height: 50px;
  }

  .navbar-lewagon-white {
    background-color: white;
  }
